<a href="https://colab.research.google.com/github/CaillahR/Adult-Income-Dataset/blob/main/Project_2_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

#Loading Data

In [3]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv("/content/adult[1].csv")
df2 = pd.read_csv("/content/wines_SPA[1].csv")

Mounted at /content/drive

#Adult Income

In [5]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

##Info

- This data set includes income of the working and non-working class people and additional information from them to predict wages in Toronto, Canada.

- The target we're focusing on is "income" and each row represents a person.
- With 14 features

- This is a classification problem

- There are 15 columns in this dataset and 47385 rows.

- There are 47385 rows

- This dataset is found in the [UCI](http://www.cs.toronto.edu/~delve/data/adult/desc.html) machine learning repository.

- The detailed description on the dataset can be found in the original [UCI documentation](http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html).


- The source of this data set is also from [Kaggle](https://www.kaggle.com/datasets/wenruliu/adult-income-dataset).

- I think the most difficult thing in this data set will be wich columns to drop and what some of this data means. It may be a bit time consuming

#Spanish Wine Quality

In [7]:
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

- This data set includes the names of wineried and the type of wine they sell with additional information.

- The target we're focusing on is "ratings", since we're trying to predict the quality and each row represents a winery.
- With 10 features

- This is a classification or regression problem

- There are 15 columns in this dataset and 47385 rows.

- There are 47385 rows

- [Original data](https://www.kaggle.com/datasets/fedesoriano/spanish-wine-quality-dataset) fedesoriano. (April 2022). Spanish Wine Quality Dataset.

- The source of this data set is also from [Kaggle](https://www.kaggle.com/datasets/wenruliu/adult-income-dataset).

- I think the most difficult thing in this data set will be figuring out which graph to display this on